@import "tailwindcss";

@source "../../../app/Views";
@source "../js";

[x-cloak] {
    display: none !important;
}
@layer base {
    button,
    [role="button"] {
        cursor: pointer;
    }

    button:disabled {
        cursor: not-allowed;
    }
}